<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contrôle Ampoule & Température</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <script src="/Chart.bundle.js"></script>
    <script src="/commandManager/tempCommandManager.js" defer></script>
</head>

<body>

    <div class="sidebar">
        <h2><i class="fas fa-plug"></i> MY CONNECT</h2>
        <ul>
            <li><a href="/ampoule"><i class="fas fa-lightbulb"></i>Ampoule</a></li>
            <li><a href="/temperatures"><i class="fas fa-thermometer-half"></i>Températures</a></li>
            <li><a href="/localisation"><i class="fas fa-map-marker-alt"></i>Localisation</a></li>
        </ul>
    </div>


    <div class="main-content">

        <div class="controls-container">
            <h1>Contrôles Température</h1>
            <div class="controls">
                <button onclick="commandManager('myChart')">Voir le graphe des Températures</button>
                <button onclick="commandManager('table-container')">Voir le tableau des Températures</button>
            </div>
        </div>
        <div>
            <canvas id="myChart" width="600" height="400"></canvas>
            <div id="table-container">
                <table id="myTable"></table>
                <div id="pagination" style="margin-top: 10px; text-align: center;"></div>
            </div>


        </div>

    </div>



</body>

</html>